name: Test checkout

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build_docs:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/alf-qmc/alf-container/pyalf-doc/jupyter
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - run: ls -lah