# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Run a one-line script
        run: echo Hello, world!

      - name: Free space before
        run: |
          echo "Free space before:"
          df -h

      - name: Get number of processors
        run: nproc

  test-mac:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run a one-line script on macOS
        run: |
          echo Hello from macOS!
          gfortran --version
          gcc --version
          g++ --version
          make --version
